*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.6;
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-400);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

::selection {
  background-color: var(--clr-secondary-opacity-100);
}

.container-main {
  background-color: var(--clr-primary-400);
  overflow: hidden;
}

/*
price
*/
