/*
$color-primary: #110F26
$color-secondaryt : #7E18C3
$color-tertiary: #66c6ff
*/

$colors: (
  'primary': (
    100: hsl(245.2, 43.4%, 20.4%),
    200: hsl(245.2, 43.4%, 15.4%),
    300: hsl(245.2, 43.4%, 10.4%),
    400: hsl(245.2, 43.4%, 5.4%),
    500: hsl(245.2, 43.4%, 0.4%),
  ),
  'secondary': (
    100: hsl(275.8, 78.1%, 52.9%),
    200: hsl(275.8, 78.1%, 47.9%),
    300: hsl(275.8, 78.1%, 42.9%),
    400: hsl(275.8, 78.1%, 37.9%),
    500: hsl(275.8, 78.1%, 32.9%),
  ),
  'tertiary': (
    100: hsl(202.4, 100%, 80%),
    200: hsl(202.4, 100%, 75%),
    300: hsl(202.4, 100%, 70%),
    400: hsl(202.4, 100%, 65%),
    500: hsl(202.4, 100%, 60%),
  ),
  'neutral': (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 0%),
  ),
  'primary-opacity': (
    100: hsl(245.2, 43.4%, 5.4%, 0.1),
    200: hsl(245.2, 43.4%, 5.4%, 0.2),
    300: hsl(245.2, 43.4%, 5.4%, 0.4),
    400: hsl(245.2, 43.4%, 5.4%, 0.6),
    500: hsl(245.2, 43.4%, 5.4%, 0.8),
  ),
  'secondary-opacity': (
    100: hsl(275.8, 78.1%, 42.9%, 0.1),
    200: hsl(275.8, 78.1%, 42.9%, 0.2),
    300: hsl(275.8, 78.1%, 42.9%, 0.4),
    400: hsl(275.8, 78.1%, 42.9%, 0.6),
    500: hsl(275.8, 78.1%, 42.9%, 0.8),
  ),
  'tertiary-opacity': (
    100: hsl(202.4, 100%, 70%, 0.1),
    200: hsl(202.4, 100%, 70%, 0.2),
    300: hsl(202.4, 100%, 70%, 0.4),
    400: hsl(202.4, 100%, 70%, 0.6),
    500: hsl(202.4, 100%, 70%, 0.8),
  ),
  'white-opacity': (
    100: hsl(0, 0%, 100%, 0.2),
    200: hsl(0, 0%, 100%, 0.4),
    300: hsl(0, 0%, 100%, 0.6),
    400: hsl(0, 0%, 100%, 0.8),
    500: hsl(0, 0%, 100%),
  ),
  'black-opacity': (
    100: hsl(0, 0%, 0%, 0.2),
    200: hsl(0, 0%, 0%, 0.4),
    300: hsl(0, 0%, 0%, 0.6),
    400: hsl(0, 0%, 0%, 0.8),
    500: hsl(0, 0%, 0%),
  ),
  'grey-opacity': (
    100: hsl(0, 0%, 30%, 0.2),
    200: hsl(0, 0%, 30%, 0.4),
    300: hsl(0, 0%, 30%, 0.6),
    400: hsl(0, 0%, 30%, 0.8),
    500: hsl(0, 0%, 30%),
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};
    }
  }
}
