@use '../../styles/abstracts/breakpoints';
@use '../../styles/utilities/flow';

.footer {
  padding: 4rem 8rem;
  opacity: 0.5;

  @include breakpoints.respond(phone-reg) {
    padding: 2rem;
  }
}

//children-1
.nav {
  //layout
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 2rem;
  align-items: center;
  list-style: none;

  @include breakpoints.respond(phone-reg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  //typography
  font-size: var(--fs-body);
  text-decoration: none;
  text-align: center;
  font-weight: 200;
  color: inherit;

  //others
  padding: 1.5rem;
  border: 1px solid var(--clr-neutral-400);
  display: block;
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: translateY(-3px);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(3px);
  }
}

//children-2
.copyright {
  //typography
  font-size: var(--fs-body);
  text-align: center;
  font-weight: 200;

  //alignment
  margin-top: flow.$margin-md;
  margin-inline: auto;
}
