@use './../styles/abstracts/breakpoints';

.backdrop {
  //position
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  //sizing
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  //styling
  background-color: var(--clr-primary-400);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: moveInBottom 0.5s backwards ease-in;
  padding: 1.5rem 2rem;

  //position
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 300;

  // to Center the Modal
  $modalWidth: 55rem;
  width: $modalWidth;
  left: calc(50% - $modalWidth / 2);

  max-height: 50vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-secondary-opacity-100);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  @include breakpoints.respond(phone-reg) {
    width: 90%;
    left: 5%;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
